# =========================================================================
# StockSpace Environment Variables Configuration (Template)
# Hướng dẫn: Copy file này thành file .env tại thư mục gốc và thay đổi các cấu hình.
# =========================================================================

# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/stockspace
DB_USERNAME=postgres
DB_PASSWORD=your_database_password_here

# JWT Security Configuration
JWT_SECRET=your_secret_key_at_least_32_characters_here
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

# Server Configuration
SERVER_PORT=8080

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="dhiizkbjp"
CLOUDINARY_API_KEY="534696958938899"
CLOUDINARY_API_SECRET="Oxh22hfk3U4m9489y8gufww0p_8"

# VNPAY Configuration
VNP_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_TMN_CODE=2QXUIOJY
VNP_HASH_SECRET=THCJDMMYVXPZNJTXHUPXKWJZXPEQJQUR
VNP_RETURN_URL=http://localhost:8080/api/auth/vnpay-callback
VNP_FRONTEND_CALLBACK_URL=http://localhost:3000/wallet/callback

